tqdm
gluonts
pydantic
pystan
requests
xgboost
prophet
lightgbm
bayesian-optimization
pandas
holidays
python-dateutil
numpy
scipy
mxnet
tensorflow==2.7.2
scikit-learn
matplotlib
statsmodels
beautifultable
tabulate
pmdarima
shap
Jinja2
pytorch